form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    grid-column: 1/3;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
  
    button[type="submit"] {
      grid-column: auto;
    }
  }